 <html>
<head>
  <title>Bands | LCD Soundsystem</title>
  <link href="{{ url_for('static',
  filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet"
  alt="LCD" width="50px" height="50px" />
  <style>
    body{
      padding-top:50px;
      background-color:#ACDFFF;
    }
    img{
      float:center;
    }
 </style>
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar"
        <span class="sr-only"> Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bands</a>
  </div>

  <div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/LCDSoundsystem">LCD</a></li>
    <li><a href="/ArcadeFire">Arcade Fire</a></li>
    <li><a href="/Radiohead">Radiohead</a></li>
    <li><a href="/ArcticMonkeys">Arctic Monkeys</a></li>
  </ul>
  </div>
  </nav>

  <div class="container">
      <h1>LCD Soundsystem</h1>

  <div class="container">
    <div class="row imagetiles">

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      
      <img src="static/lcd.jpg" alt="LCD" class="img-responsive">
      </div>

    </div>
  <p class="lead">LCD Soundsystem are an Electronic band based in New York
  City. They have had 4 albums to date.</p>
 </div>
 </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src={{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
</body>
</html>
